// breakpoint
$breakpoints: (
  xsmall: 320px,
  small: 640px,
  medium: 800px,
  large: 1024px,
  xlarge: 1280px,
  xxlarge: 1440px,
);

@mixin breakpointUp($breakpoint: medium) {
  @media screen and (min-width: (map-get($breakpoints, $breakpoint) + 1px)) {
    @content;
  }
}

@mixin breakpointDown($breakpoint: medium) {
  @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin breakpointBetween($breakpointFrom: medium, $breakpointTo: medium) {
  @media screen and (min-width: (map-get($breakpoints, $breakpointFrom) + 1px)) and (max-width: map-get($breakpoints, $breakpointTo)) {
    @content;
  }
}

// カラー
$color-white: #fff;
$color-gray-01: #f2f2f7;
$color-gray-02: #e5e5ea;
$color-gray-03: #d1d1d6;
$color-gray-04: #c7c7cc; // 未使用
$color-gray-05: #aeaeb2;
$color-gray-06: #8e8e93;
$color-gray-07: #636366;
$color-gray-08: #48484a;
$color-gray-09: #3a3a3c;
$color-gray-10: #1c1c1e;
$color-black: #000;

$color-primary: #e4fc3d;
$color-secondary: #7854ff;
$color-twitter: #1c9bf1;

$color-up: #ff2d55;
$color-down: #007aff;

// スペース
$space-xsmall: 4px;
$space-small: 8px;
$space: 12px;
$space-large: 16px;
$space-xlarge: 24px;

// フォントサイズ
$font-xxsmall: 10px;
$font-xsmall: 12px;
$font-small: 14px;
$font: 16px;
$font-large: 18px;
$font-xlarge: 24px;
$font-xxlarge: 32px;

// イメージ
$img-xsmall: 24px;
$img-small: 32px;
$img: 48px;
$img-large: 64px;
$img-xlarge: 96px;
$img-xxlarge: 128px;

// 角丸
$radius-xxsmall: 4px;
$radius-xsmall: 12px;
$radius-small: 16px;
$radius: 24px;
$radius-large: 32px;
$radius-xlarge: 48px;
$radius-xxlarge: 64px;

// ボタン幅
$btn-small: 56px;
$btn: 158px;
$btn-large: 215px;
